<div class="row">
  <h2>Playlists</h2>
</div>

  <div class="location">
    <p>Oakland, CA <span class="zip">94611</span><span class="remove">×</span></p>
  </div>
  <div class="location">
    <p>Oakland, CA <span class="zip">94611</span><span class="remove">×</span></p>
  </div>
  <div class="location">
    <p>Oakland, CA <span class="zip">94611</span><span class="remove">×</span></p>
  </div>
  <div class="location">
    <p>Oakland, CA <span class="zip">94611</span><span class="remove">×</span></p>
  </div>

  <input id="playlist" placeholder="Enter new playlist name">

<div class="row">
  <button class="button">Create New Playlist</button>
</div>