<h2>Playlists</h2>

<div class="location">
  <p>Trance Music <span class="zip">5 tracks</span><span class="remove">×</span></p>
</div>
<div class="location">
  <p>2013 Faves <span class="zip">13 tracks</span><span class="remove">×</span></p>
</div>
<div class="location">
  <p>Andrea's Music <span class="zip">930 tracks</span><span class="remove">×</span></p>
</div>
<div class="location">
  <p>Demo Playlist <span class="zip">443 tracks</span><span class="remove">×</span></p>
</div>

<div class="input-wrapper">
  <input id="playlist" placeholder="Enter new playlist name">
</div>
<button id="new-playlist" class="button">Create New Playlist</button>
